{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 col-xl-12">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Sucursal Bulevar Morazán - TGU</h6>
                    </div>
            </div>
        </div>
        <div class="card-body p-3">
            <hr class="horizontal gray-light my-2">
            <ul class="list-group">
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Teléfono:</strong> 2221-2444</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Whatsapp:</strong> 9466-7040</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> gboxmallbm@gboxmall.com</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ubicación:</strong> Col. Parcaltagua #4236 Final del Boulevard Morazán</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="col-12 col-xl-12 mt-4">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Sucursal Plaza Miraflores - TGU</h6>
                    </div>
            </div>
        </div>
        <div class="card-body p-3">
            <hr class="horizontal gray-light my-2">
            <ul class="list-group">
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Whatsapp:</strong> 9458-1988</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> gboxmallpm@gboxmall.com</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ubicación:</strong> Centro Comercial Plaza Miraflores Local Nº151</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="col-12 col-xl-12 mt-4">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Sucursal Plaza Ciudad Nueva - TGU</h6>
                    </div>
            </div>
        </div>
        <div class="card-body p-3">
            <hr class="horizontal gray-light my-2">
            <ul class="list-group">
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Whatsapp:</strong> 9489-4755</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ubicación:</strong> Calle Los Alcaldes 100m adelante de entrada a col. Los Robles</li>
            </ul>
        </div>
        </div>
    </div>
    
    <div class="col-12 col-xl-12 mt-4">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Sucursal Paz Barahona - SPS</h6>
                    </div>
            </div>
        </div>
        <div class="card-body p-3">
            <hr class="horizontal gray-light my-2">

            <ul class="list-group">
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Teléfono:</strong> 2552-1252</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Whatsapp:</strong> 9476-8811</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> gboxmallpb@gboxmall.com</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ubicación:</strong> Bo. Paz Barahona Ave. Juan Pablo II entre 9 y 10 Ave. S.O.</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="col-12 col-xl-12 mt-4">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Sucursal Plaza Uno - SPS</h6>
                    </div>
            </div>
        </div>
        <div class="card-body p-3">
            <hr class="horizontal gray-light my-2">
            <ul class="list-group">
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Teléfono:</strong> 2552-1252 extensión 155</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Whatsapp:</strong> 9445-4599</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> servicio@gboxmall.com</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ubicación:</strong> Blvd. del Este salida a La Lima, San Pedro Sula, local #3</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="col-12 col-xl-12 mt-4">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Sucursal San Ramón - Puerto Cortés</h6>
                    </div>
            </div>
        </div>
        <div class="card-body p-3">
            <hr class="horizontal gray-light my-2">
            <ul class="list-group">
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Whatsapp:</strong> 9445-4598</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> gboxcortes@gboxmall.com</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ubicación:</strong> Bo. San Ramón 1era y 2 da calle 3era Ave. Antiguo local de Ficohsa</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="col-12 col-xl-12 mt-4">
        <div class="card h-100">
            <div class="card-header pb-0 p-3">
                <div class="row">
                    <div class="col-md-8 d-flex align-items-center">
                        <h6 class="mb-0">Sucursal Edificio Torres - La Ceiba</h6>
                    </div>
            </div>
        </div>
        <div class="card-body p-3">
            <hr class="horizontal gray-light my-2">
            <ul class="list-group">
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Whatsapp:</strong> 9445-4596</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> admonlaceiba@grupoguticia.com</li>
            <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Ubicación:</strong> Edificio Torres, Ave. Morazán Calle del hospital D’Antoni, Suite Nº1</li>
            </ul>
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}